*.suo
*.user
_ReSharper.*
bin
obj
.vs
packages
*csproj.user
*StyleCop.Cache
.idea
.DS_Store
IosLoginTest
SecretServerMobile
SecretServerMobile
Thycotic.NextGenMobile/Thycotic.NextGenMobile.Tests.Unit/mono_crash.*.json
TestResults/
